{% extends 'base.html' %}
{% load i18n formset_tags %}
{% block title %}{% trans "Add a New Book" %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7 col-md-offset-2" >
            <h3>{% trans "Add a New Book" %}</h3>
            <div class="panel panel-default">
                <div class="panel-body">

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'books:create' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% with form=book_form %}
                            {% include 'form_template.html' %}
                        {% endwith%}

                        <hr/>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}