{% extends 'base.html' %}
{% load i18n static ratings %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block title %}{% trans "Detail Page" %}{% endblock %}

{% block body %}

<div class="container-fluid" >
    <div class="col-sm-12 col-md-7 col-md-offset-2" id="details">
        <div class="panel panel-default">

            <div class="post-timer">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="timer-left">
                            <h2>{{ book.title }}</h2>
                        </div>
                        <div class="post-others">
                            <span>Author: {{ book.author|default:"" }} </span>
                        </div>
                        <div class="post-others">
                            <span>Year: {{ book.year|default:"" }} </span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="timer-instruction">
                            <h3>{% trans "Description" %}</h3>
                            <p style="font-size:12px"> {{ book.description|default:"" }} </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="timer-right">
                            {% if book.image %}
                                <img  src="{{ book.image.url }}" />
                            {% else %}
                                <img  src="{% static 'books/images/none.png' %}" />
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}